.myNav {
    background-color: var(--nav-background);
    /*border-radius: var(--size-radius);*/
    max-width: var(--container-width);
    box-shadow: 0 1px 4px 1px rgba(0,0,0,.25);
    width: 80%;
    margin: 0 auto;
}



.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}


    .nav-item ::deep .nav-link {
        color: var(--experience-one);
        background: none;
        border: none;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
    }

    .nav-item ::deep a.active {
        color: var(--color-signal);
    }

    .nav-item ::deep .nav-link:hover {
        color: var(--experience-one);
    }

.navbar-toggler:checked ~ .nav-scrollable {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .nav-scrollable {
        /* Never collapse the sidebar for wide screens */
        display: block;
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
